

<nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color">
    <a class="navbar-brand" href="#"><i class="fa fa-h-square"></i> Gestion Hotel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
              <a class="nav-link waves-effect waves-light" routerLink="/add-facture">
                <i class="fa fa-book"></i> Ajouter Facture</a>
            </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="#">
            <i class="fa fa-envelope"></i> Contact
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-user"></i> Profile </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
            <a class="dropdown-item waves-effect waves-light" href="#">My account</a>
            <a class="dropdown-item waves-effect waves-light" href="#">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  
  
      <div class="row">
  
          <!-- Grid column -->
          <div class="col-md-2">
        
            <nav class="nav flex-column cyan lighten-3 py-4 mb-r font-weight-bold z-depth-1">
              <a class="nav-link active indigo-text" routerLink="/home"><i class="fa fa-home"></i> &nbsp; Home</a>
              <a class="nav-link indigo-text" routerLink="/home">Consulter Réservation</a>
              <a class="nav-link indigo-text" routerLink="/facture">Consulter Factures</a>
              <a class="nav-link indigo-text" routerLink="/add-facture">Ajouter Facture</a>
              <a class="nav-link indigo-text" routerLink="/home"></a>
              <a class="nav-link indigo-text" routerLink="/home"></a>
            </nav>
        
          </div>
          <!-- Grid column -->
          <div class="col-md-9">
              <div class="card">
                  <div class="card-header text-center">
                   <strong style="font-family:Times New Roman, Times, serif; font-size: large; color:cadetblue;">Ajouter Facture</strong> 
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-8">
                      <form [formGroup]="addForm">
                        
                          <div class="form-group">
                             <label><strong>Date</strong></label>
                             <input type="date" class="form-control" formControlName="date">
                           </div>
                           <div class="form-group">
                              <label><strong>Montant</strong></label>
                              <input type="number" class="form-control" formControlName="montant">
                            </div>
                          
                          <button  type="submit" class="btn btn-primary" (click)="factureBtn()" routerLink="/facture">Ajouter </button>
                          <div class="clearfix"></div>
                      </form>
                    </div>
                    </div>  
                  </div>
                </div>
          </div>
        
        </div>
        <!-- Grid row -->
  
  <br>
  
  <!-- Footer -->
  <footer class="page-footer font-small blue pt-4">
  
    <!-- Footer Links -->
    <div class="container">
  
      <!-- Grid row-->
      <div class="row text-center d-flex justify-content-center pt-5 mb-3">
  
        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!">About us</a>
          </h6>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!">Settings</a>
          </h6>
        </div>
        <!-- Grid column -->
      
        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!">Contact</a>
          </h6>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
      <hr class="rgba-white-light" style="margin: 0 15%;">
  
      <!-- Grid row-->
      <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
  
  
      </div>
      <!-- Grid row-->
      <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
  
      <!-- Grid row-->
      <div class="row pb-3">
  
        <!-- Grid column -->
        <div class="col-md-12">
  
          <div class="mb-5 flex-center">
  
            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fa fa-facebook fa-lg white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fa fa-twitter fa-lg white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fa fa-google-plus fa-lg white-text mr-4"> </i>
            </a>
           
          </div>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> Gestion d'Hotel</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
  