<div style="background-image:url('assets/777.jpg');">
<div class="container-fluid">
<!-- Section: Contact v.1 -->
<section class="my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Contactez nous</h2>

    <!-- Grid row -->
    <div class="row">
   
      <!-- Grid column -->
      <div class="col-lg-5 mb-lg-0 mb-4">
  
        <!-- Form with header -->
        <div class="card">
          <div class="card-body">
            <!-- Header -->
            <div class="form-header blue accent-1">
              <h3 class="mt-2 text-center"><i class="fa fa-envelope"></i> contact:</h3>
            </div>
            <!-- Body -->
          <form [formGroup]="contactForm" >
            <div class="md-form">
              <i class="fa fa-user prefix grey-text"></i>
              <input type="text" id="form-name" class="form-control" formControlName="nom">
              <label for="form-name">nom</label>
            </div>
            <div class="md-form">
              <i class="fa fa-envelope prefix grey-text"></i>
              <input type="text" id="form-email" class="form-control" formControlName="email">
              <label for="form-email">email</label>
            </div>
            <div class="md-form">
              <i class="fa fa-tag prefix grey-text"></i>
              <input type="text" id="form-Subject" class="form-control" formControlName="sujet">
              <label for="form-Subject">sujet</label>
            </div>
            <div class="md-form">
              <i class="fa fa-pencil prefix grey-text"></i>
              <textarea type="text" id="form-text" class="form-control md-textarea" rows="3" formControlName="message"></textarea>
              <label for="form-text">message</label>
            </div>
            <div class="text-center">
              <button class="btn btn-light-blue" type="submit" (click)="contactBtn()" >Contact</button>
            </div>
          </form>    
          </div>
        </div>
        <!-- Form with header -->
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-6">
  
        <!-- Google map-->
        <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
    
        <br>
        <!-- Buttons-->
        <div class="row text-center">
          <div class="col-md-4">
            <a class="btn-floating blue accent-1">
              <i class="fa fa-map-marker"></i>
            </a>
            <p>TABARKA, 8110</p>
            <p class="mb-md-0">Tunisia</p>
          </div>
          <div class="col-md-4">
            <a class="btn-floating blue accent-1">
              <i class="fa fa-phone"></i>
            </a>
            <p>+ 216 26 440 678</p>
            <p class="mb-md-0">Mon - Fri, 8:00-22:00</p>
          </div>
          <div class="col-md-4">
            <a class="btn-floating blue accent-1">
              <i class="fa fa-envelope"></i>
            </a>
            <p>info@gmail.com</p>
            <p class="mb-0">sale@gmail.com</p>
          </div>
        </div>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
</section>
  <!-- Section: Contact v.1 -->
</div>  
</div>